{% extends "admin/base_site.html" %}
{% load i18n static %}

{% block extrastyle %}{{ block.super }}
<link rel="stylesheet" href="{% static " admin/css/forms.css" %}">{% endblock %}
{% block breadcrumbs %}
<div class="breadcrumbs">
    <a href="{% url 'admin:index' %}">{% translate 'Home' %}</a>
    &rsaquo; {% translate 'Password reset' %}
</div>
{% endblock %}

{% block content %}

<p>{% translate 'Forgotten your password? Enter your email address below, and we’ll email instructions for setting a newone.' %}</p>

<form method="post">{% csrf_token %}
    <fieldset class="module aligned">
        {% if form.errors %}
        <p class="errornote">
            {% blocktranslate count counter=form.errors.items|length %}Please correct the error below.
            {% plural %}Please correct the errors below.{% endblocktranslate %}
        </p>
        {% endif %}
        
        {% if form.non_field_errors %}
        {% for error in form.non_field_errors %}
        <p class="errornote"> {{ error }}</p>
        {% endfor %}
        {% endif %}

        <div class="form-row field-email">
            {{ form.email.errors }}
            <label for="id_email">{% translate 'Email address:' %}</label>
            {{ form.email }}
        </div>

        {% if form.get_user and form.non_field_errors %}
        <div class="form-row">
            {{ form.otp_device.errors }}
            <label for="id_otp_device">{% trans 'OTP Device:' %}</label> {{ form.otp_device }}
        </div>
        {% endif %}
        
        <div class="form-row">
            {{ form.otp_token.errors }}
            <label for="id_otp_token" class="required">{% trans 'OTP Token:' %}</label> {{ form.otp_token }}
        </div>

        <!-- <input type="submit" value="{% translate 'Reset my password' %}"> -->

        <!-- <div class="submit-row"> -->
            <input type="submit" value="{% translate 'Reset my password' %}">
            {% if form.get_user and form.non_field_errors %}
            <label>&nbsp;</label>
            <input type="submit" name="otp_challenge" value="{% trans 'Get OTP Challenge' %}" />
            {% endif %}
        <!-- </div> -->
    </fieldset>
</form>

{% endblock %}
