{% extends "admin/object_history.html" %}
{% block content %}
<h1>Purchase History</h1>
<div class="results">
    <table id="result_list" width="100%">
        <thead>
            <tr>
                <th>
                    <div class="text"><span>Date</span></div>
                    <div class="clear"></div>
                </th>
                <th>
                    <div class="text"><span>Purchase Coins</span></div>
                    <div class="clear"></div>
                </th>
            </tr>
        </thead>
        <tbody>

            {% for history in purchase_history_list %}
            <tr>
                <td>{{history.date_created}}</td>
                <td>{{history.purchase_coins}}</td>
            </tr>
            {% endfor %}

        </tbody>
    </table>
</div>
{% endblock %}