#container #header {
    justify-content: left;
}

.login #container .notification-area {
    display: none;
}

.login #container #header {
    justify-content: center;
}

.notification-area {
    border-left: 1px solid white;
    padding: 0px 10px 5px 5px;
}

.notification-box {
    position: relative;
    display: inline-block;
    width: 20px;
    height: 20px;
    cursor: pointer;
}

.notification-box .badge {
    position: absolute;
    bottom: -18px;
    right: -8px;
    font-size: 13px;
    background-color: red;
    padding: 3px;
    min-width: 15px;
    height: 15px;
    border-radius: 7px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    color: white;
    display: none;
}

.notification-box .badge:hover {
    background-color: #d90000;
}

.notification-img {
    width: 100% !important;
    height: 100% !important;
    position: absolute;
    top: 5px;
}

.dropdown-content {
    display: none;
    position: fixed;
    color: black;
    background-color: #f9f9f9;
    min-width: 350px;
    max-height: 500px;
    overflow-y: scroll;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    padding: 12px 16px;
    z-index: 9999;
    margin-top: 35px;
}

.dropdown-content .dropdown-item-info {
    color: red;
    margin-left: 15px;
}

.notification-box .green-dot {
    display: block;
    position: absolute;
    width: 14px;
    height: 14px;
    border-radius: 14px;
    background-color: chartreuse;
    border: 1px solid greenyellow;
    top: 7px;
    left: 4px;
}